# ==========================================
# DEPENDENCIES 
# ==========================================
node_modules/
.pnpm-store/

# ==========================================
# NEXT.JS BUILDS & CACHES
# ==========================================
.next/
out/
build/
dist/

# ==========================================
# LOGS & DEBUG
# ==========================================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
logs/
*.log

# ==========================================
# TESTING / COVERAGE
# ==========================================
.jest/
coverage/

# ==========================================
# FRONTEND SECRETS
# ==========================================
.env
.env.*
!.env.example