@tailwind base;
@tailwind components;
@tailwind utilities;
.citation-highlight {

    background: #DCFCE7;

    border-color: #69B989 !important;

    box-shadow: 0 0 0 3px rgba(105,185,137,.15);

    transition: all .25s;
}