# ==========================================
# SYSTEM & IDE CONFIGS (File rác hệ điều hành / IDE)
# ==========================================
.DS_Store
Thumbs.db
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# ==========================================
# GLOBAL SECRETS & DOCKER
# ==========================================
.env
.env.*
!.env.example
.docker/

