# ==========================================
# GENERAL CONFIG
# ==========================================
PROJECT_NAME=LearningAId
API_V1_STR=/api/v1

# ==========================================
# AI CONFIG
# ==========================================
OPENAI_API_KEY=none

# ==========================================
# MYSQL CONFIG
# ==========================================
DB_HOST=your-mysql-host
DB_PORT=your-mysql-port
DB_USER=your-mysql-user
DB_PASSWORD=your-mysql-password
DB_NAME=your-mysql-database

# ==========================================
# REDIS CONFIG
# ==========================================
REDIS_HOST=your-redis-host
REDIS_PORT=your-redis-port

# ==========================================
# SECURITY & JWT CONFIG
# ==========================================
JWT_SECRET_KEY=ahsbiuiu1g9bf39r1hfb9173b1
JWT_ALGORITHM=HS256
ADMIN_REGISTRATION_KEY=your-admin-registration-key
COOKIE_SECURE=True

# ==========================================
# TIME CONFIGURATION
# ==========================================
ACCESS_TOKEN_EXPIRE_MINUTES=1000
REFRESH_TOKEN_EXPIRE_MINUTES=1000
ONLINE_STATUS_EXPIRE_SECONDS=1000

# ==========================================
# BIẾN MÔI TRƯỜNG
# ==========================================
.env
.env.dev
.env.prod