# ==========================================
# PYTHON / BYTECODE CACHING
# ==========================================
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/

# ==========================================
# VIRTUAL ENVIRONMENTS
# ==========================================
.venv/
venv/
env/
ENV/
lib/
lib64/

# ==========================================
# DATABASE / LOGS
# ==========================================
alembic.log
*.db
*.sqlite
app.log

# ==========================================
# BACKEND SECRETS
# ==========================================
.env
.env.*
!.env.example

# các file uploads
uploads/
